body.is-loading .sticky-header-group,
body.is-loading #post-list-container {
    opacity: 0;
}

.navbar-standard {
    background-color: #343a40 !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    min-height: 90px;
}

.navbar-standard .navbar-brand {
    font-family: 'Jua', sans-serif;
    font-weight: 700;
    font-size: 2.1rem;
    letter-spacing: -0.5px;
    color: #f8f9fa !important;
}